
/* --- font settings--- */
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 700;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

@charset "utf-8";

/*
 * default style definition
 */

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  perspective: 2.1px;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'NanumBarunGothic',AppleGothic, UnDotum, sans-serif;
  background-color: #f4f4f4;
}

form {
  margin: 0;
  padding: 0;
}

hr {
  display: none;
}

p, div, th, td, select, input {
  color: #333;
}

a:link, a:visited {
  color: #666;
  text-decoration: none;
}

a:active, a:hover {
  color: #000;
  text-decoration: none;
}

a img, input.type-image {
  border: 0 none;
}

input.type-text, textarea {
  border: 1px solid #ddd;
  background: #fff;
  padding: 1px;
}

input.type-text:hover, input.type-text:focus, textarea:hover, textarea:focus, select:hover, select:active {
  background-color: #ffd;
}

input, select, textarea {
  vertical-align: middle;
  font-size: 1em;
  color: #333;
}


span.button, img.button, a.button {
  cursor: pointer;
  vertical-align: middle;
}


/* ---- header start ---- */

  header {
    width: 100%;
    padding-bottom: calc(70+ 1920 / 1108 * 100 %);
    max-height: 1178px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'NanumSquare', sans-serif;
  }

    header>nav {
      position: relative;
      background: #f9f9f9;
      width: 100%;
      height: 70px;
      overflow: hidden;
      text-align: center;
    }

      header>nav>a {
        float: left;
        letter-spacing: 0.5em;
        width: 33.3333%;
        height: 70px;
        line-height: 70px;
        font-weight: 500;
      }

    header>.header-img {
      position: relative;
      width: 100%;
      margin: 0 auto;
    }

    header>.header-img>.bg {
      max-width: 100%; /* 이미지의 최대사이즈 */
        width /***/: auto; /* IE8 */
        height: auto;
    }

    header>.header-img>.con{
      top: 50%; left: 50%;
      position: absolute;
      z-index: 2;
      width: 50vw; height: 50vw;
      text-align: center;
      border-radius: 50%;
    background:linear-gradient(135deg, rgba(252, 223, 138,0.4) 0%,rgba(243, 131, 129,0.4) 100%) ;
      transform:translate(-50%, -50%);
      }

      header>.header-img>.con>p {
        z-index: 3;
        opacity: 1;
        color: #fff;
      }
      header>.header-img>.con > p:nth-child(1){
        font-size: 6rem;
        line-height: 6rem;
      }
      header>.header-img>.con > p:nth-child(2){
      font-size: 2rem;
      line-height: 2rem;
      }


/* article1 start*/
  .title
  {
    font-family: 'nanumsquare',sans-serif;
    margin: 0;
    margin-top: 5%;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1em;
  }
    .title::after{
      content: '';
      border-bottom: 1px solid black;
      display: block;
      width: 10rem;
      margin: 2rem auto;
    }
  .a1 {
    display: block;
    width: 80%; height: 40vh;
    margin : 0 10% 10% 10%;
    background-color: #fff;

    }
    .a1 > div{
      width: 50%;
      height: 100%;
      float: left;
      line-height: 2.5rem;
      background-color: #fff;
      overflow:hidden;
    }
    .a1 > div > p{
      padding: 5%;
      padding-top: 10%;
      text-align: right;
      letter-spacing: 0.05rem;
      font-size: 1rem;
    }

.a1 > div > img {
  width: 100%; height: 100%;
  overflow-y: hidden;
  max-height: 500px;
}


/* article2 start*/


.a2 {
  margin: 0;
  text-align: center;
}
.a2 > .title {
  letter-spacing: 0.8rem;
}
.coursesline{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.course {
  position: relative;
  width: 150px;
  height: 150px;
  background: linear-gradient(to bottom, #fcf3c1, #faa0a0);
  border-radius: 50%;
  float: left;
  position: relative;
  text-align: center;
  margin: 4%;
  display: flex;
  flex-direction: column;
    overflow: hidden;
}
  .course > div{
    text-align: center;
    letter-spacing: 0.2rem;
    color: #000;
    width: 100%; height: 50%;
    line-height: 1rem;
  }
  .course > div:nth-child(1){
   font-size: 1.6rem;
   line-height: 120px;
   padding-bottom: 10px;
  }
  .course > div:nth-child(2){
   font-size: 0.9rem;
  }

/* article3 start */

.a3{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.a3 > div{
  width: 70%;
  margin: 0 15%;
  height: 350px;
  margin-bottom: 5%;
}
.a3 > div > div{
  width: 50%; height: 350px;
  float: left;
  background-color: #fff;
  overflow : hidden;
  max-width: 550px;
}
.a3 > div:hover{
  box-shadow: -60px 0px 100px -90px #000000,
        60px 0px 100px -90px #000000;
}

.a3 > div > .right > h3{
  font-weight: 500;
  padding-left : 10%;
  letter-spacing: 0.3rem;
}
.a3 > div > .right > p{
  padding : 5% 5% 10% 10%;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
 .a3 > div > div >image {
  width: auto; height: 100%; 
  overflow-y: hidden;
}

/*----- footer start-----*/

footer {
  width: 100%;
  background: #000;
  color: white;
  padding: 2vw;
  font-size: 0.5rem;
  text-align: center;
}
footer > span{
  margin-right: 0.3rem;
}





/*반응형 레이아웃*/
/* Smartphones ------------------------ */

@media only screen and (max-width: 769px) {
  header>.header-img>.con > p:nth-child(1){
    padding-top: 10%;
  font-size: 2rem;
  line-height: 3rem;
  }
  header>.header-img>.con p:nth-child(2){
  font-size: 1rem;
  line-height: 1rem;
  }
  .a1 > div{
      width: 100%;
      height: 100%;
      line-height: 2.5rem;
      background-color: #fff;
      overflow:hidden;
    }
  .a1 {
    margin-bottom: 500px;
  }
  .title{
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
  }
  .coursesline{
    margin: 10%;
    display: flex;
    flex-direction: row;
  }

  .a3 > div {
    display: flex;
    flex-direction: column;
  }
  .a3 > div > div{
    max-height: 550px;
    width: 100%; height: 100%;
  }

}


/* Tablets ----------------------------- */

@media only screen and (min-width: 770px) and (max-width: 1439px) {
  header>.header-img>.con > p:nth-child(1){
  padding-top: 20%;
  font-size: 5rem;
  line-height: 5rem;
  }
  header>.header-img>.con p:nth-child(2){
  font-size: 1.8rem;
  line-height: 1.8rem;
  }
  .title{
    font-size: 1.7rem;
    letter-spacing: 0.4rem;
  }
  .course{
    width: 12vw; height: 12vw;
  }
  .coursesline{
    width: 70%;
    margin: 0 15% 10% 15%;
  }
  .a3 > div {
    display: flex;
    flex-direction: column;
  }
  .a3 > div > div{
    width: 100%; 
    height: 500px;
  }

}
@media only screen and (min-width: 1440px){
   header>.header-img>.con > p:nth-child(1){
  padding-top: 30%;
  font-size: 5rem;
  line-height: 5rem;
  }

}
