/* font settings ------------------------*/


/*
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
*/


/* --- dafault settings--- */

@charset "utf-8";

/*
 * default style definition
 */

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  perspective: 2.1px;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Malgun Gothic", "Lucida Grande", Tahoma, Verdana, AppleGothic, UnDotum, sans-serif;
}

form {
  margin: 0;
  padding: 0;
}

hr {
  display: none;
}

p, div, th, td, select, input {
  color: #333;
}

a:link, a:visited {
  color: #666;
  text-decoration: none;
}

a:active, a:hover {
  color: #000;
  text-decoration: none;
}

a img, input.type-image {
  border: 0 none;
}

input.type-text, textarea {
  border: 1px solid #ddd;
  background: #fff;
  padding: 1px;
}

input.type-text:hover, input.type-text:focus, textarea:hover, textarea:focus, select:hover, select:active {
  background-color: #ffd;
}

input, select, textarea {
  vertical-align: middle;
  font-size: 1em;
  color: #333;
}

select {
  font-size: 11px;
  font-family: "돋움", sans-serif;
}

span.button, img.button, a.button {
  cursor: pointer;
  vertical-align: middle;
}


/* ---- header start ---- */

header {
  width: 100%;
  padding-bottom: calc(70+ 1920 / 1108 * 100 %);
  max-height: 1178px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

header>nav {
  position: relative;
  background: #f9f9f9;
  width: 100%;
  height: 70px;
  overflow: hidden;
  text-align: center;
}

header>nav>a {
  float: left;
  font-size: 80%;
  letter-spacing: 0.5em;
  width: 33.3333%;
  height: 70px;
  line-height: 70px;
}

header>.header-img {
  position: relative;
  width: 100%; max-width: 1920px;
  margin: 0 auto;
}

header>.header-img>.bg {
  max-width: 100%; /* 이미지의 최대사이즈 */
    width /***/: auto; /* IE8 */
    height: auto;
    vertical-align: bottom;
}

header>.header-img>.con{
  top: 50%; left: 50%;
  position: absolute;
  z-index: 2;
  width: 50vw; height: 50vw;
  text-align: center;
  border-radius: 50%;
background:linear-gradient(135deg, rgba(252, 223, 138,0.4) 0%,rgba(243, 131, 129,0.4) 100%) ;
  transform:translate(-50%, -50%);
}
header>.header-img>.con>p {
  z-index: 3;
  opacity: 1;
  color: #fff;
}
header>.header-img>.con > p:nth-child(1){
  font-size: 6rem;
  line-height: 6rem;
}
header>.header-img>.con:nth-child(2){
font-size: 2rem;
line-height: 2rem;
}


/* article1 start*/

.a1 {}

.a1 img {}


/* article2 start*/

.a2 {}

.course {
  position: relative;
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, #fcf3c1, #faa0a0);
  border-radius: 50%;
  float: left;
  position: relative;
  text-align: center;
  margin: 4%;
  display: flex;
  flex-direction: row;
  /*  overflow: hidden;*/
}


/* article3 start */

.article3 {}

figure.image {
  width: 550px;
  height: 350px;
  overflow: hidden;
}

figure.image img {}

figure.image:after, figure.image figcaption {}

figure.image figcaption {}

figure.image h3 {}

figure.image p {}

figure.image a {}

figure.image:hover img, figure.image.hover img {}

figure.image:hover:after, figure.image.hover:after {}

figure.image:hover h3, figure.image.hover h3, figure.image:hover p, figure.image.hover p, figure.image:hover i, figure.image.hover i {}


/*----- footer start-----*/

footer {
  width: 100%;
  background: #000;
  color: white;
  padding: 2vw;
  font-size: 0.5rem;
  text-align: center;
}

/* Smartphones ------------------------ */

@media only screen and (max-width: 769px) {
  header>.header-img {
    z-index: -1;
    position: relative;
    width: 100%;
    /*  height: 20%;*/
  }
}


/* Tablets ----------------------------- */

@media only screen and (min-width: 770px) and (max-width: 1439px) {
  header>.header-img {
    z-index: -1;
    position: relative;
    width: 100%;
    /*  height: 50%;*/
  }
}


/* Desktops --------------------------- */

@media only screen and (min-width: 1440px) {}
