/* font settings ------------------------*/
/*
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
*/

/* --- dafault settings--- */
@charset "utf-8";
/*
 * default style definition
 */

html{
  width: 100%; height: 100%;
  overflow: hidden;
  position: relative;
}
body {
  width: 100%; height: 100%;
  overflow-y: scroll;
  position: relative;
  perspective: 2.1px;
  margin: 0;
  padding: 0;
  font-size: 75%;
  line-height: 1.5em;
  font-family: "Malgun Gothic", "Lucida Grande", Tahoma, Verdana, AppleGothic, UnDotum, sans-serif;
}
form {
  margin: 0;
  padding: 0;
}
hr {
  display: none;
}
p, div, th, td, select, input {
  color: #333;
}
a:link, a:visited {
  color: #666;
  text-decoration: none;
}
a:active, a:hover {
  color: #000;
  text-decoration: none;
}
a img, 
input.type-image {
  border: 0 none;
}
input.type-text, 
textarea {
  border: 1px solid #ddd;
  background: #fff;
  padding: 1px;
}
input.type-text:hover, 
input.type-text:focus, 
textarea:hover, 
textarea:focus, 
select:hover, 
select:active {
  background-color: #ffd;
}
input, select, textarea {
  vertical-align: middle;
  font-size: 1em;
  color: #333;
}
select {
  font-size: 11px;
  font-family: Dotum, "돋움", sans-serif;
}
span.button, 
img.button, 
a.button {
  cursor: pointer;
  vertical-align: middle;
}


/* ---- header start ---- */
header{
  width: 100%;
  height: 1178px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

header > nav {
  position: relative;
  background: #f9f9f9;
  width: 100%;
  height: 70px;
  overflow: hidden;
  text-align: center;
}

header > nav > a {
  float: left;
  font-size: 12pt;
  letter-spacing : 0.5em;
  width: 33.3333%;
  height: 70px;
 line-height: 70px;
}


header > .header-img{
  z-index: -1;
  position: relative;
/*  width: 100%;
  height: 75%;*/
width : 100%; height: 1000px;

  padding-top : calc (300 / 1000 * 100 %); / * calc (이미지 높이 ÷ 이미지 가로 × 100 %) * /
}
header > .header-img > .bg{
  width: 100%;   height: 1000px;
  min-height: 100px;
  background: url(../Resource/src/background.jpg) center center / cover no-repeat;
  position: absolute;
  top: 0px; left: 0px;
  overflow:hidden;
  transform:translateZ(-1px) scale(1.5,1.5);
}
header > .header-img > .bg:before{
    width: 100%;   height: 1000px;
  content: '';
  display: block;
  background: url(../Resource/src/background.jpg) center center / cover no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

header > .header-img > .con {
  position: relative; z-index: 5;
  width: 50%;
  height: 50%;
  text-align: center;
  padding-top: 100px;
  border-radius: 50%; background-color: rgba(0,0,0,0.5);
}
header > .header-img > .con > p{
  color: #fff;
}

/* article1 start*/

.a1 {

}

.a1 img {

}


/* article2 start*/

.a2 {

}

.course {
  position: relative;
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom , #fcf3c1, #faa0a0);
  border-radius: 50%;

  float: left;
  position: relative;
  text-align: center;
  margin: 4%;
  display: flex;
  flex-direction: row;
/*  overflow: hidden;*/
}


/* article3 start */

.article3 {

}

figure.image {
  width: 550px;
  height: 350px;
  overflow: hidden;
}

figure.image img {

}

figure.image:after, figure.image figcaption {

}

figure.image figcaption {

}

figure.image h3 {

}

figure.image p {

}

figure.image a {

}

figure.image:hover img, figure.image.hover img {

}

figure.image:hover:after, figure.image.hover:after {

}

figure.image:hover h3, figure.image.hover h3, figure.image:hover p, figure.image.hover p, figure.image:hover i, figure.image.hover i {

}


/*----- footer start-----*/

footer {
  width: 100%;
  background: #000;
  color: white;
}

footer #copyright {
  position: relative;
  top: 100px;
  left: 0px;
  font-size: 12pt;
  text-align: left;
}
/* Smartphones ------------------------ */

@media only screen and (max-width: 769px) {
header > .header-img{
  z-index: -1;
  position: relative;
  width: 100%;
/*  height: 20%;*/
}
}


/* Tablets ----------------------------- */

@media only screen and (min-width: 770px) and (max-width: 1439px) {
header > .header-img{
  z-index: -1;
  position: relative;
  width: 100%;
/*  height: 50%;*/
}
}

/* Desktops --------------------------- */

@media only screen and (min-width: 1440px) {

}

